.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #909899;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #333;

  /* crisp rendering on most browsers */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
